h2{
    text-align: top right;
    color: red;
    size: 10px;
}
p{
    color: blue;
    size: 7px;
}
h1{
    color:green;
    text-align: center;
}
h2{
    text-align: right;
    color: red;
}
p3{
    text-align: center;
    align-items: center:
}


body{
    background-repeat: repeat;
    background-size:100%;
}