h1{
    color: white;
    text-align: center;
    font-size: 100px;
}
h2{
    text-align: right;

}

body{
    background-repeat: no-repeat;
    background-size: cover;
}
h3{
    text-align: center;
    color:gold;
    font-size:80px;
}
p{
    color:goldenrod;
    text-align: center;
    font-size: 30px;
}