h1{
    font-size: 500%;
    text-align: center;
    color: blue;
}
img{
    width: 500px;
    height: 400px;
}
h2{
    font-size: 30px;
    text-align: center;
    color:rgb(132, 0, 255);
}
body{
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    text-align: center;
}
